---
layout: default
---


<header class="site-masthead">

  {% if site.title %}
  <h1>
    {{ site.title }}
  </h1>
  {% endif %}
  {% if site.title %}
  <h2>
    {{ site.description }}
  </h2>
  {% endif %}

  <div class="social-links">
    {% if site.tiktok_username %}
    <a href="https://www.tiktok.com/@{{ site.tiktok_username }}" aria-label="TikTok">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    {% endif %}
    {% if site.bluesky_username %}
    <a href="https://bsky.app/profile/{{ site.bluesky_username }}.bsky.social" aria-label="Bluesky">
      <i class="fa-brands fa-bluesky"></i>
    </a>
    {% endif %}
    {% if site.goodreads_username %}
    <a href="https://www.goodreads.com/{{ site.goodreads_username }}" aria-label="Goodreads">
      <i class="fa-brands fa-goodreads"></i>
    </a>
    {% endif %}
    {% if site.storygraph_username %}
    <a href="https://app.thestorygraph.com/profile/{{ site.storygraph_username }}" aria-label="The StoryGraph">
      <svg role="img" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
        style="width: 1em; height: 1em; vertical-align: -0.125em;">
        <title>The StoryGraph</title>
        <path
          d="M18.1722.6246a.6788.6788 0 0 0-.1314.0252L14.095 1.818c-.3504.1039-.545.4673-.4413.8178l5.1137 17.3544c.104.3505.4673.5452.8178.4414l3.9455-1.1553c.3504-.1038.5451-.4673.4413-.8178L18.8584 1.0911a.6522.6522 0 0 0-.6862-.4665zM.662 1.0522c-.3634 0-.6619.2986-.6619.662v18.0944c0 .3634.2985.6619.662.6619h4.1143c.3634 0 .6619-.2985.6619-.662V1.7143c0-.3634-.2985-.662-.6619-.662zm6.9438 0c-.3634 0-.662.2986-.662.662v18.0944c0 .3634.2986.6619.662.6619H11.72c.3634 0 .649-.2985.662-.662V1.7143c0-.3634-.2986-.662-.662-.662zM.3634 21.431c-.1947 0-.3634.1558-.3634.3634v1.2202c0 .1948.1558.3635.3634.3635h23.2712c.1947 0 .3635-.1558.3635-.3635v-1.2202c0-.1947-.1557-.3634-.3635-.3634z" />
      </svg>
    </a>
    {% endif %}
  </div>
</header>


<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
    Page {{ paginator.page }}
    {% else %}
    Contents
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}

  <ul class="post-list">
    {% for post in paginator.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}

  <div class="post-pagination">
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
    <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      class="pagination-previous btn">Newer&nbsp;&rang;</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
  </div>

  {% endif %}

  {% else %}

  <ul class="post-list">
    {% for post in site.posts %}
    {% include post-list-item.html %}
    {% endfor %}
  </ul>

  {% endif %}


</main>